@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* list style stuff */
ol, ul {
    margin: 0 !important;
    padding: revert !important;
    list-style: revert !important;
}

body {
    font-family: "Roboto", sans-serif;
    @apply dark:bg-zinc-800;
    @apply dark:text-white;
}
h1 {
    @apply text-4xl;
    @apply font-semibold;
    @apply pb-2;
  }
  h2 {
    @apply text-2xl;
    @apply font-semibold;
    @apply pb-2;
  }
  h3 {
    @apply text-xl;
    @apply font-semibold;
    @apply pb-2;
  }

  h4 {
    @apply text-lg;
    @apply font-semibold;
    @apply pb-2;
  }

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, 450px));
  justify-content: space-evenly;
}

.grid-item {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.excerpt-text {
  max-height: 200px;
  padding-top: 0.5rem;
  overflow: hidden;
}

.blog-post-img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .text-overflow {
    margin-bottom: 5px;
    padding-bottom: 5px;
    max-height: 200px;
    overflow: hidden;
    content: "";
    position: relative;
  }
  .text-overflow:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    --tw-bg-opacity: 1;
    background: linear-gradient(
      transparent 150px,
      rgba(39, 39, 42, var(--tw-bg-opacity))
    );
  }
}

@media (prefers-color-scheme: light) {
  .text-overflow {
    margin-bottom: 5px;
    padding-bottom: 5px;
    max-height: 200px;
    overflow: hidden;
    content: "";
    position: relative;
  }
  .text-overflow:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 150px, white);
  }
}